.card {
  /* Estilos existentes */
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

/* Estilos existentes */

.card h3 {
  font-size: 0.8rem;
  margin: 0.5rem 0;
  align-self: flex-start;
  color: #636363;
  font-weight: 600;
  line-height: 1.5;
}

.card .price {
  /* Estilos existentes */
  align-self: flex-start;
}

.separator {
  width: 100%;
  height: 1px;
  background-color: #ccc;
  margin: 1rem 0;
}