.search-bar {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 800px;
  padding: 0 .5rem;
  margin: 1rem auto 2rem;
  background: #fff;
  border-radius: 6px;
  border: 1px solid #ccc;
  position: relative;
}

.search-bar input {
  flex: 1;
  border: none;
  padding: .8rem;
  font-size: .9rem;
}

.search-bar input:focus {
  outline: none;
}

.search-bar button {
  background: transparent;
  border: none;
  padding: .8rem 1rem;
  cursor: pointer;
  font-weight: bold;
  height: 100%;
  border-radius: 6px;
  transition: all 0.3s ease;
  position: absolute;
  right: 0;
}

.search-bar button:hover {
  background: #dc3545;
  color: #ffebee;
}